@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --open-sans: "Open Sans", sans-serif;
  --lato: "Lato", sans-serif;
  --roboto: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 1.2rem;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
.section {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  width: 100%;
}
/* !header section */
.nav {
  background: #393e46;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.nav-container {
  padding: 0.5rem 0;
  width: 95vw;
  max-width: 1170px;
  margin: 0 auto;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}
.title h2 {
  margin: 0;
  color: #eeeeee;
  transition: all 0.3s;
}
.title h2:hover {
  color: #ce1212;
}
.toggle {
  background: transparent;
  border: none;
  font-size: 2rem;
  transition: all 0.3s;
  animation: bounce 1.2s infinite;
  color: #eeeeee;
}
@keyframes bounce {
  15% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.links {
  height: 0;
  overflow: hidden;
}
.links li {
  margin: 0.5rem 0;
}
.links a {
  color: #fcecdd;
  font-family: var(--lato);
  font-size: 1.1rem;
  transition: all 0.4s;
}
.links a:hover {
  color: #00adb5;
  padding-left: 2rem;
}
.icons {
  display: none;
}

@media screen and (min-width: 990px) {
  .links {
    height: auto;
    display: flex;
    justify-content: center;
  }
  .icons {
    display: flex;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    display: none;
  }
  .links li {
    margin-right: 1rem;
  }
  .links a:hover {
    padding: 0;
    transform: scale(1.1);
  }
  .icons li {
    margin-right: 1rem;
  }
  .icons i {
    font-size: 1.3rem;
    color: #d8e3e7;
    transition: all 0.3s;
  }
  .icons i:hover {
    color: #51c4d3;
  }
}
.hero {
  min-height: 100vh;
  /* background: url(./671214.jpg) center/cover no-repeat; */
  background: #282626;
  background: -webkit-linear-gradient(top, #282626, #2b2c2b);
  background: -moz-linear-gradient(top, #282626, #2b2c2b);
  background: linear-gradient(to bottom, #282626, #2b2c2b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-info {
  max-width: 80vw;
}
.text-info h1 {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-info p {
  line-height: 1.4;
  font-size: 1.3rem;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-info button {
  padding: 0.4rem 0.6rem;
  border-radius: 20px;
  border: 3px solid white;
  cursor: pointer;
  transition: all 0.4s;
  letter-spacing: 0.9px;
  font-size: 1.4rem;
}
.text-info button:hover {
  background: #aad8d3;
  border: 3px solid #f3bda1;
  transform: scale(1.05);
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 990px) {
  .hero {
    background: url(./671214.jpg) center/cover no-repeat;
  }
  .text-info h1 {
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* ! three hero section */
.three-type-hero {
  padding: 4rem 0;
}
.hero-type-title {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-family: var(--open-sans);
}
.hero-type-title span {
  color: #51c4d3;
}
.three-type-hero .section {
}
.single-type {
  margin-bottom: 2rem;
  background: #d8e3e7;
  padding: 2rem 0;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
}
.single-type .icon {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  color: #1cc5dc;
  transition: all 0.4s;
}
.single-type .icon:hover {
  color: #98ddca;
}
.type-text {
  line-height: 1.6;
}
.type-text h5 {
  font-size: 1.5rem;
  font-family: var(--lato);
  letter-spacing: 0.6px;
  transition: all 0.4s;
}
.type-text h5:hover {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.type-text p {
  font-size: 1rem;
  letter-spacing: 0.2px;
  font-family: var(--roboto);
}
@media screen and (min-width: 990px) {
  .hero-section-info {
    display: flex;
    justify-content: space-between;
  }
  .single-type {
    flex: 0 0 calc(33.333% - 1rem);
  }
}

/* ti tournament section */

.team-img {
  margin-bottom: 1.2rem;
}
.ti-title {
  font-size: 1.7rem;
  font-family: var(--open-sans);
  padding: 1.7rem 0;
}
.ti-title span {
  color: #ffdf6b;
}
.ti .team-info h4 {
  font-size: 1.5rem;
  color: #fa1e0ea9;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.ti .team-info h5 {
  font-size: 1rem;
  color: #f1466886;
}
.team-img {
  height: 250px;
  transition: all 0.4s;
}
.team-img:hover {
  transform: scale(1.03);
}
.team-img img {
  height: 100%;
  object-fit: fill;
}
@media screen and (min-width: 760px) {
  .ti-tournament {
    background: #edeef7;
  }
  .ti-winners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ti {
    flex: 0 0 calc(33.33% - 1rem);
  }
}

/* ! dota team */
.team-section-title h3 {
  font-size: 2rem;
  text-transform: uppercase;
}
.team-section-title span {
  color: #7868e6;
}
.pro-team-img img {
  border-radius: 10px;
}
.team-info {
  padding: 1rem 0;
  font-family: var(--lato);
  letter-spacing: 0.6px;
}
.team-info h5 {
  color: #78c4d4;
  font-size: 1.5rem;
  transition: all 0.3s;
  text-transform: uppercase;
}
.pro-team-img {
  height: 300px;
  transition: all 0.4s;
}
.pro-team-img img {
  height: 100%;
  object-fit: fill;
}
.spans {
  display: flex;
  /* border-bottom: 3px solid #8ac4d0; */
  justify-content: center;
}
.span {
  margin-right: 0.5rem;
  border-bottom: 3px solid #ff8882;
}
.span:hover {
  border-bottom-color: #9ede73;
  color: #1597bb;
}

@media screen and (min-width: 776px) {
  .teams-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }
  .single-team {
    flex: 0 0 calc(25% - 2rem);
  }
  .teams-section {
    padding: 2rem 0;
    background: linear-gradient(to right, #005aa7, #fffde4);
  }
  .teams-section .section {
    max-width: none;
  }
  .span {
    padding-bottom: 2px;
    border-bottom: 3px solid #f8ede3;
  }
  .span:hover {
    border-bottom-color: #bdc7c9;
  }
  .pro-team-img:hover {
    transform: scale(1.09);
  }
  .team-info h5 {
    color: #dbf6e9;
  }
}

/* ! item */
.items-section {
  padding: 3rem 0;
  border-top: 3px solid #8fd6e1;
  /* margin-top: 2rem; */
}
.item-img {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
.item-img img {
  height: 100%;
  object-fit: cover;
}
.items-section-title {
  font-size: 1.5rem;
}
.items-section-title span {
  color: #1597bb;
}

.item .item-info {
  margin-top: 1.2rem;
}
.item .item-info h4 {
  font-size: 1.3rem;
  color: #a3d2ca;
  font-family: var(--open-sans);
}
.item .item-info h5 {
  font-size: 1rem;
  font-family: var(--lato);
  /* margin-right: 0.5rem; */
}
.item .item-info span {
  display: inline-block;
  color: #81b214;
  margin-left: 0.4rem;
}
@media screen and (min-width: 779px) {
  .items-container {
    display: flex;
    justify-content: space-between;
  }
  .item-info {
    flex: 1;
  }
  .item-img img {
    border-radius: 50%;
  }
}

/* !footer */
.footer {
  background: linear-gradient(to right, #000000, #434343);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer ul li i {
  font-size: 1.8rem;
  color: #f8f5f1;
  margin-right: 1rem;
}
.footer ul {
  display: flex;
  padding-top: 1.4rem;
  margin-bottom: 0.5rem;
  transition: all 0.4s;
}
.footer i:hover {
  color: #51c4d3;
}
.footer p {
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: #8fd6e1;
  letter-spacing: 0.5px;
  font-family: var(--lato);
  text-align: center;
}
